<div class="modal-container">
  <div class="modal-header">
    <button mat-icon-button mat-dialog-close>
      <mat-icon inline="true">close</mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content>
  <div class="modal-content">
    <img #img [src]="data.photoUrl" />
    <span style="margin-top: 8px;"><strong>by: {{data.photographer}}</strong></span>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" style="margin-left: auto;" (click)="onDownload(img)">Download</button>
</mat-dialog-actions>
