<div class="container">
  <header>
    <h1>Apprentice Photo Gallery</h1>
    <a href="https://www.pexels.com">
      <span>Photos provided by Pexels</span>
    </a>
  </header>

  <div class="search-container">
    <button mat-icon-button type="button" class="prev-button" (click)="onPrev()"
      [disabled]="!this.photoStore.hasPrevPage">
      <mat-icon style="font-size: 2rem;">chevron_left</mat-icon>Prev
    </button>

    <mat-form-field style="margin: 0 auto">
      <mat-label>Search</mat-label>
      <input type="search" matInput [(ngModel)]="search" #searchInputEl placeholder="Enter Search String..." />
      <mat-hint align="start">Ex: 'people', 'places' or 'animals'</mat-hint>
    </mat-form-field>

    <button mat-icon-button (click)="onNext()" class="next-button" [disabled]="!this.photoStore.hasNextPage">
      Next<mat-icon style="font-size: 2rem;">chevron_right</mat-icon>
    </button>
  </div>

  <div class="content" #scrollContent>
    <div *ngFor="let p of photos$ | async" class="photo-container">
      <span>Author: {{p.photographer}}</span>
      <img [src]="p.src.small" (click)="onPhoto(p.src.large, p.photographer)" [alt]="'photo by ' + p.photographer"
        [title]="p.photographer" />
    </div>
  </div>

  <footer>
    <a href="https://www.pexels.com">
      <span>Photos provided by</span>
      <img src="https://images.pexels.com/lib/api/pexels-white.png" alt="pexels" height="30px" width="auto" />
    </a>
  </footer>
</div>
