<div class="container">
  <header>
    <h1>Apprentice Photo Gallery</h1>
    <a href="https://www.pexels.com">
      <span>Photos provided by Pexels</span>
    </a>
  </header>

  <div class="search-container">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input type="search" matInput [(ngModel)]="search" placeholder="Enter Search String..." />
      <mat-hint align="start">Ex: 'people', 'places' or 'animals'</mat-hint>
      <button mat-icon-button matSuffix (click)="onSearch()" [attr.aria-label]="'Search for photos'">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <div style="margin-left: 1rem;">
      <button mat-icon-button type="button" style="margin-right: 2em;" (click)="onPrev()"
        [disabled]="!this.photoStore.prevPage">
        <mat-icon style="font-size: 2rem;">chevron_left</mat-icon>Prev
      </button>
      <button mat-icon-button (click)="onNext()" style="margin-right: 10px" [disabled]="!this.photoStore.nextPage">
        Next<mat-icon style="font-size: 2rem;">chevron_right</mat-icon>
      </button>
    </div>
  </div>

  <div class="content" #scrollContent>
    <div *ngFor="let p of photos$ | async" class="photo-container">
      <span>Author: {{p.photographer}}</span>
      <img [src]="p.src.small" (click)="onPhoto(p.src.large, p.photographer)" />
    </div>
  </div>

  <footer>
    <a href="https://www.pexels.com">
      <span>Photos provided by</span>
      <img src="https://images.pexels.com/lib/api/pexels-white.png" alt="pexels" height="30px" width="auto" />
    </a>
  </footer>
</div>
