<header style="height: 100px; background-color: lightblue; width: 100%">
  <div style="height: 100%; display: flex; justify-items: center; align-items: center">
    <h1 style="margin-left: auto; margin-right: auto;">Apprentice Photo Gallery</h1>
  </div>
</header>
<div class="container" style="overflow-y: auto;">
  <div style="display: flex; flex-direction: row; flex-wrap: wrap">
    <div style="margin-right: 15px">
      <label for="search">Search:</label>
      <input type="text" id="search" [(ngModel)]="search" />
      <button id="seach-button" (click)="onSearch()">Go</button>
    </div>

    <div style="margin-right: 15px">
      <label for="pic-size">Size:</label>
      <select id="pic-size" [(ngModel)]="picSize">
        <option value="large2x">Very Large</option>
        <option value="large">Large</option>
        <option value="medium">Medium</option>
        <option value="small">Small</option>
        <option value="tiny">Very Small</option>
      </select>
    </div>

    <div>
      <button (click)="onNext()" style="margin-right: 10px">Next</button>
      <button type="button" (click)="onPrev()">Prev</button>
    </div>
  </div>

  <div style="display: flex; flex-direction: row; flex-wrap: wrap">
    <div *ngFor="let p of photos$ | async">
      <div style="display: flex; flex-direction: column; margin: 10px;">
        <img *ngIf="picSize === 'tiny'" [src]="p.src.tiny" />
        <img *ngIf="picSize === 'small'" [src]="p.src.small" />
        <img *ngIf="picSize === 'medium'" [src]="p.src.medium" />
        <img *ngIf="picSize === 'large'" [src]="p.src.large" />
        <img *ngIf="picSize === 'large2x'" [src]="p.src.large2x" />
        <span>by: {{p.photographer}}</span>
      </div>
    </div>
  </div>
</div>

<footer style="position: fixed; background-color: lightblue; bottom: 0px; height: 75px; width: 100%">
  <div style="height: 100%; display: flex; justify-items: center; align-items: center">
    <a href="https://www.pexels.com" style="margin-left: auto; margin-right: auto;">Photos provided by Pexels
      <img src="https://images.pexels.com/lib/api/pexels-white.png" alt="pexels" height="30px" width="auto" />
    </a>
  </div>
</footer>
