/* You can add global styles to this file, and also import other style files */
@import "./styles/colors";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: inline-block;
}
